.logo{
    width: 450px;
    height: 150px;
    margin-bottom: -35px;
}
.aqua{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
}
.cadastro{
    display: block;
    text-align: center;
    justify-items: center;
}
.login-cadastro{
    margin-bottom: 5px;
}
input{
    border-radius: 5px;
    background-color: rgb(188, 185, 185);
}
input:hover{
    box-shadow: rgb(24, 99, 218);
}



